/*! MEDIA QUERIES */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .btn-outline-white {
    border: none;
    padding: 5px;
  }

  .btn-outline-white:hover {
    background-color: transparent;
    outline: none;
    color: #ca68a6 !important;
  }

  .btn-outline-white:focus {
    outline: none;
    box-shadow: none;
  }

  #sectionContacto {
    height: 100%;
    width: 100%;
    background: url(../assets/img/images/image-1.jpg);
    background-size: cover;
    overflow: hidden;
  }

  html {
    overflow: hidden;
  }
}



/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .btn-outline-white {
    border: none;
    padding: 5px;
  }

  .btn-outline-white:hover {
    background-color: transparent;
    outline: none;
    color: #ca68a6 !important;
  }

  .btn-outline-white:focus {
    outline: none;
    box-shadow: none;
  }

  html {
    overflow: hidden;
  }
}


/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .btn-outline-white {
    border: none;
    padding: 5px;
  }

  .btn-outline-white:hover {
    background-color: transparent;
    outline: none;
    color: #ca68a6 !important;
  }

  .btn-outline-white:focus {
    outline: none;
    box-shadow: none;
  }

  html {
    overflow: hidden;
  }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  html {
    overflow: hidden;
  }
}