/*Aqui comienza el CSS normal de la pagina.Esta dividido por pantallas y por secciones dentro de esas pantallas.*/

/*                            (◕ ˬ ◕✿)                                      */

/*******************EXTERNAL LINKS*********************/

/* google fonts */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
/*******************GLOBAL*********************/

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  !important
}

/*******************NAVBAR*********************/

/*La navbar es global a todo el proyecto por lo que no esta incluida dentro de ninguna seccion.*/

/* LOGO */

.navbar-brand img {
  margin-left: 35% !important;
  width: 40% !important;
  height: auto !important;
}

.navbar-nav {
  margin-right: 10% important;
}

.navbar {
  background: rgba(0, 0, 0, 0.0) !important;
  transition: .5s important;
}

.nav-link {
  position: relative !important;
  padding: 5px 10px important;
}

.nav-link:hover {
  color: #ce75ae !important;
}

.nav-link:active {
  top: 2px !important;
}

.navbar-toggler {
  color: #fff !important;
}

/* jQuerry scroll  */

/*nota-mental: que la barra se vea mientras hace scroll, y que cuando pare vuelva a ser transparente, porque queda raro ahora mismo*/

#mainNavbar.scrolled {
  background: rgba(0, 0, 0, 0.7) !important;
}

/*******************FOOTER*********************/

/* El footer es global a todo el proyecto por lo que no esta incluido en ninguna seccion */

#footer-section {
  min-height: 250px;
}

/*******************CONTAINER*********************/

.main-container {
  height: 100vh;
}

/*---------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------*/

/******************************index.html***************************************/

/*******************INDEX-HOME*********************/

#home-section {
  background: url(https://images.unsplash.com/photo-1522199710521-72d69614c702?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

#home-section .overlay {
  background: rgba(0, 153, 204, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

#home-section .overlay-2 {
  background: url(../assets/img/Overlay/overlays.svg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 100%;
  background-size: cover;
  /*TO DO : que este overlay llegue como mucho a un 60% del ancho de la pantalla, pero sin que quede raro*/
}

#home-section .home-inner {
  padding-top: 10%;
}

/* Form */

.card-form {
  opacity: 0.8;
  z-index: 10;
}

/* LOGO-HOME */

.logo-container {
  /* display: flex; */
  margin: 0 auto;
}

/*******INDEX DATE PICKER *********************/

.pick-sl {
  background: #ccc;
  color: #fff;
}

div.datedropper .picker ul.pick li span {
  color: #fff;
}

div.datedropper {
  --dd-color1: #17a2d0;
  --dd-color2: white;
  --dd-color3: #fff;
  --dd-color4: white;
}

div.datedropper .picker+div a {
  opacity: 0;
}

div.datedropper .picker-jumped-years>div {
  color: #17a2d0;
}

/*******************INDEX-ABOUT**********************/

#about-section {
  min-height: auto;
  padding: 5% 0 5% 0;
  -webkit-align-content: center;
  align-content: center;
}

/*******************INDEX-EQUIPO**********************/

#equipo-section {
  /* min-height: 540px; */
  min-height: auto;
  padding: 20% 0 20% 0;
  -webkit-align-content: center;
  align-content: center;
}

.card-animation {
  background-color: #f3f3f3;
  transition: all 0.3s ease-in;
}

.card-animation:hover {
  transform: translateY(-5px);
  transform: scale(1.1);
}

.card-team {
  background-color: #f3f3f3;
}

.txt-trav-small, span {
  display: block;
}

.circle-picture {
  border-radius: 50%;
  margin: 0 auto;
  border: 3px purple solid;
}

/*******************INDEX-CONTACT********************/

#contacto-section {
  min-height: auto;
  padding: 5% 0 5% 0;
  -webkit-align-content: center;
  align-content: center;
}

/*******************INDEX-BRAND**********************/

#brand-section {
  background-color: #fff;
  min-height: auto;
  -webkit-align-content: center;
  align-content: center;
}

/******************************perfil.html***************************************/

/******************************contacto.html***************************************/

#bgContact {
  filter: brightness(0.6);
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#marginBody {
  height: 5em;
  width: 100%;
}

input {
  width: 100%;
}

#map {
  height: 60%;
  width: 90%;
}

iframe {
  height: 100%;
  width: 100%;
}

#contact {
  color: white;
  text-align: middle;
  margin-top: 50px;
  font-family: 25px;
}

#contactAddress {
  color: white;
  font-size: 12px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#BodyC {
  margin-top: 5%;
}

@media(max-width: 991px) {
  #map {
    display: none;
  }
}

@media (max-width: 574px) {
  #contact {
    font-size: 1em;
    text-align: center;
  }
}

@media (max-width: 991px) {
  #contact {
    text-align: center;
  }
}

@media (max-width: 576px) {
  #Cform {
    margin-top: 30%;
  }
}

@media (max-width: 991px) {
  address {
    display: none;
  }
}

@media(max-width: 576px) {
  #logoContact {
    display: none;
  }
}

/******************************gracias.html***************************************/

/******************************graciasContacto.html***************************************/

#section-graciasContacto {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/******************************modalRegistro***************************************/

.form-logo {
  margin-top: -30%;
  margin-bottom: 1rem;
  height: 8rem;
}

/* boton para cerrar modal */

.close {
  position: relative;
  margin-top: 1%;
  margin-right: 3%;
}

.close:focus {
  outline: 0;
}

/******************************modalLogin***************************************/

/******************************app.html***************************************/

/******************************appTiempo.html***************************************/

#appTiempo-section {
  background: url(../assets/img/backgrounds/clouds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 70vh;
}

#appTiempo-section .overlay {
  background: rgba(0, 153, 204, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70vh;
}

#appTiempo-section .overlay-2 {
  background: url(../assets/img/Overlay/overlays.svg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  opacity: 50%;
  background-size: cover;
  /*TO DO : que este overlay llegue como mucho a un 60% del ancho de la pantalla, pero sin que quede raro*/
}

#appTiempo-section .app-inner {
  padding-top: 10%;
}

/******************************viajes.html***************************************/

#viajes-section .gradient-flow {
  background: rgba(0, 153, 204, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

.gradient-flow {
  /* 	margin: 0; */
  /* 	width: 100%; */
  height: 100%;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 800% 800%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*==============================================================================================================================================================================================*/

/*Aqui estan todas las clases personalizadas que no pertenecen a bootstrap, aplicar la clase al elemento para implementar.
Todo esta comentado en ingles, usar CTRL+ F para buscar lo que sea en el documento.*/

/**************************TRAVELOOK***************************/

/**************************COLORES***************************/

/*
#f3f3f3 - grey

#0099cc - blue 
#17a2d0 - blue light
#008cba- blue dark


#ca68a6 - pink
#ce75ae - pink light
#ca68a6- pink dark
 
 #a25eb9 - purple
 #bb89cc- purple ligth
 #764587- purple dark
*/

/*******************TEXTO TRAVELOOK*********************/

.txt-trav-white {
  color: white;
}

.txt-trav-primary {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  color: #fff;
  font-weight: 300;
}

.txt-trav-secondary {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #fff;
  font-weight: 300;
}

.txt-trav-small {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.txt-trav-medium {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
}

.txt-trav-big {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 300;
  color: #fff;
}

/* texto oscuro --------*/

.txt-trav-dark {
  color: #333;
}

.txt-trav-primary-dark {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  color: #333;
  font-weight: 300;
}

.txt-trav-secondary-dark {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #333;
  font-weight: 300;
}

.txt-trav-small-dark {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #333;
  font-weight: 300;
}

.txt-trav-medium-dark {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #333;
}

.txt-trav-big-dark {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 300;
  color: #333;
}

/* Mayusculas */

.uppercase {
  text-transform: uppercase;
}

/* elementos decorativos tipograficos */

header.underline:after {
  background: #333;
}

header.underline:after {
  background: rgba(144, 144, 144, 0.5);
  content: '';
  display: inline-block;
  height: 1px;
  margin-top: 1.5em;
  width: 6em;
}

/*******************BACKGROUND/FONDOS  TRAVELOOK*********************/

.bg-trav-grey-light {
  background-color: #f3f3f3;
}

.bg-trav-light {
  background-color: #eee7d6;
}

.bg-blue {
  background-color: #0099CC;
}

.bg-blue-light {
  background-color: #17a2d0;
}

.bg-blue-dark {
  background-color: #008cba;
}

.bg-pink {
  background-color: #ca68a6;
}

.bg-pink-light {
  background-color: #ce75ae;
}

.bg-pink-dark {
  background-color: #ca68a6;
}

.bg-purple {
  background-color: #a25eb9;
}

.bg-purple-light {
  background-color: #bb89cc;
}

.bg-purple-dark {
  background-color: #764587;
}

.bg-travelook {
  background: url(../assets/img/backgrounds/background.svg);
}

/*----------------------------------------------*/

.bg-trav-flow {
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.modal-content {
  position: absolute;
}

/*--------------------------------------------------*/

.bg-trav-transparent {
  background-color: rgba(0, 0, 0, 0.2);
}

/*******************BUTTONS TRAVELOOK*********************/

.btn-trav-primary {
  background-color: #0099CC;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin-top: 10px;
}

.btn-trav-primary:hover {
  background-color: #11baf3;
}

.btn-trav-primary:focus {
  outline: none;
  box-shadow: none;
}

/* ----- */

.btn-trav-purple {
  position: relative;
  background-color: #a25eb9;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin-top: 10px;
  color: #fff;
}

.btn-trav-purple:hover {
  background-color: #11baf3;
  color: #fff;
}

.btn-trav-purple:focus {
  outline: none;
}

.btn-trav-purple:focus {
  outline: none;
  box-shadow: none;
}

/* ----- */

.btn-trav-pink {
  position: relative;
  background-color: #ce75ae;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin-top: 10px;
  color: #fff;
}

.btn-trav-pink:hover {
  background-color: #11baf3;
  color: #fff;
}

.btn-trav-pink:focus {
  outline: none;
}

.btn-trav-pink:focus {
  outline: none;
  box-shadow: none;
}

/* ----- */

.btn-outline-white {
  border: 1px solid #fff;
  padding: 5px;
}

.btn-outline-white:hover {
  background-color: #a25eb9;
  outline: none;
  color: #fff;
}

.btn-outline-white:focus {
  outline: none;
  box-shadow: none;
}

/* ---HOVER-EFFECT-- */

.hover:hover {
  top: 2px;
}

.hover:active {
  top: 4px;
}

/* ------------------ */

.btn-facebook {
  background-color: #3B5998;
  color: #fff;
}

.btn-facebook:hover {
  background-color: #11baf3;
  color: #fff;
}

/*******************FORMULARIOS TRAVELOOK*********************/

.input-travelook {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;
}

.form-input-travelook {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #ca68a6;
  border-radius: 0;
  caret-color: white;
  width: 100%;
  height: 100%;
  color: #fff !important;
}

input[type="text"], textarea, .input-travelook, .form-input-travelook {
  outline: none !important;
  box-shadow: none !important;
}

.input-travelook:focus {
  border-color: #bb89cc !important;
  background-color: transparent;
}

.form-input-travelook:focus {
  border-color: #bb89cc !important;
  background-color: transparent;
}

.input-travelook::placeholder {
  color: #fff !important;
}

.form-input-travelook::placeholder {
  color: #fff !important;
}

#helper-text {
  text-align: start !important;
}

/* ---------------------------------*/

/* ---------------------------------*/

/*********************ICONOS FONT AWESOME**************************/

.icon {
  font-size: 2em;
  color: white;
}

/* .............................................................. */

/* no tocar, esto es un fix para que los iconitos salgan dentro del input */

.inner-addon {
  position: relative;
}

/* style icon */

.inner-addon .fas, .inner-addon .far, .inner-addon .material-icons {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */

.right-addon .fas, .right-addon .far {
  right: 0px;
}

/* add padding  */

.right-addon input {
  padding-right: 30px;
}

/* .............................................................. */

.fas, .far {
  color: #fff;
  font-weight: lighter;
}

/**********************LOGOS*************************/

.logo-travelook-main {
  width: 100%;
  height: 9em;
}

.logo-travelook {
  width: 25em;
  margin-top: -10%;
}

.logo-travelook-small {
  width: 30%;
}

.logo-footer {
  width: 15em;
  height: auto;
}

/********************UTILIDADES***************************/

/* border radius */

.round-5 {
  border-radius: 5px;
}

.round-10 {
  border-radius: 10px;
}

.round-15 {
  border-radius: 15px;
}

/* link styling */

.link-style {
  text-decoration: none;
}

.link-style:hover, .link-style:active, .link-style:link, .link-style:visited {
  text-decoration: none;
  color: #fff;
}

/* form link styling */

.link-form-style {
  color: #bb89cc !important;
  font-weight: 600 !important;
}

.link-form-style:hover, .link-form-style:active, .link-form-style:link {
  text-decoration: none;
  color: #17a2d0 !important;
  text-decoration: underline !important;
}

/* Padding */

.px-10 {
  padding-left: 5em;
  padding-right: 5em;
}

/* Margin */

.mt-10p {
  margin-top: 10%;
}

.mt-15p {
  margin-top: 15%;
}

/***********************************************/

/* Validacion formularios */

.valid {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #4caf50;
  border-radius: 0;
  text-align: start !important;
}

.invalid {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #f44336;
  border-radius: 0;
  text-align: start !important;
}

/*==============================================================*/